@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.remaining-time-wrapper {
  text-align: center;
  width: 100%;
}

.bottom {
  bottom: 20px;
}

.centered {
  bottom: 50%;
}
