.top-player-title {
  min-width: 280px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  color: white;
}

.top-players-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.player-item {
  min-width: 280px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff; /* Color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.8s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
