.invite-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.invite-logo {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 8px;
  top: 20px;
  left: 20px;
}

.invite-logo img {
  height: 40px;
  width: 40px;
}

.invite-box {
  border: 1px solid;
  border-radius: 8px;
  padding: 40px;
  width: 100%;
  max-width: 500px;
}

.invite-accept {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
